body
{
    background-color: cornsilk;
}

input
{
    border: 2px solid black;
    border-radius: 6px;
}

.aaa
{
    border: 2px solid black;
}

#jobb
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}